<form id="form_new_account" class="form-horizontal" role="form">
  <div class="row">
    <label class="control-label col-sm-3" for="txtName">Nom:</label>
    <div class="col-sm-8">
      <div class="form-group">
        <input
          id="txtName"
          type="text"
          class="form-control"
          name="txtName">
      </div>
    </div>
  </div>
  <div class="row">
    <label
      class="control-label col-sm-3"
      for="cmbType">
      Type de compte:
    </label>
    <div class="col-sm-8">
      <div class="form-group">
        <select
          id="cmbType"
          class="form-control"
          name="cmbType">
          {{ #accountTypes }}
          <option value="{{ cid }}">{{ name }}</option>
          {{ /accountTypes }}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="control-label col-sm-3" for="txtInitialAmount">Solde initial:</label>
    <div class="col-sm-8">
      <div class="form-group">
        <input
          id="txtInitialAmount"
          type="text"
          class="form-control"
          name="txtInitialAmount">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <div class="form-group pull-right">
        <button id="btnSave" name="btnSave">
          <span class="glyphicon glyphicon-floppy-save"></span>
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</form>

